<style>
.h1 {
    color: black;
    text align: left;
    text size: 15px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 25px;
  float: center;
  width: 40%;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
}

/* Style the submit button */
form.example button {
  float: center;
  width: 15px;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  margin-left: -40px;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>